<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Text</title>
</head>
<body>
    <form action="/inverter" method="GET">
        <label for="text">Texto:</label>
        <input type="text" id="text" name="text" required><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
