<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Text</title>
</head>
<body>
    <h1>Texto original: {{ originalText }}</h1>
    <h1>Texto invertido: {{ reversedText }}</h1>

    <a href="/login">Ir para a realização de login</a>

</body>
</html>
